@import-normalize;

* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
textarea {
  outline: none;
  resize: none;
}
body {
  background-color: #eee;
}
